<%= simple_form_for @timer, url: timer_index_path, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <%= f.input :category, :label => 'Category', :input_html => {:class => 'span4'} %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', timer_index_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
